*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
    body{
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
/* FINE BODY */

/* HEADER */
    header{
        background-color: white;
    }

    #header-container{
        margin: 15px 30px;
    }

    .header{
        vertical-align: middle;
    }

    .logo{
        width: 80px;
        height: 80px;
    }

    .titolo{
        display: inline-block;

        font-size: 50px;
        margin-left: 10px;
    }
/* FINE HEADER */

/* MAIN */
    main{
        background-color: rgba(211, 211, 211, 0.522);
    }
    /* MAIN CONTAINER */
        #container{
            width: 65%;
            margin: 0 auto;

            padding-top: 3%;
            padding-bottom: 1%;
        }
    /* FINE MAIN CONTAINER */
    /* INPUT CONTAINER */
        #input-container{
            background-color: white;

            border: 2px solid rgba(211, 211, 211, 0.522);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            padding: 15px 80px;
        }
        /* BUTTON */
            .button{
                padding: 7px 15px;
                border-radius: 5px;

                font-weight: bold;
            }
        /* FINE BUTTON */
        /* BUTTON 1 */
            .button1{
                border: 2px solid rgba(0, 145, 255, 0.845);

                background-color: rgba(0, 145, 255, 0.845);
                color: white;
            }
        /* FINE BUTTON 1 */
        /* BUTTON 2 */
            .button2{
                border: 2px solid rgb(159, 159, 159);
                
                background-color: white;
                color: rgb(159, 159, 159);

                margin-left: 5px;
            }
        /* FINE BUTTON 2 */
    /* FINE INPUT CONTAINER */
    /* LIST CONTAINER */
        #list-container{
            background-color: white;

            border: 2px solid rgba(211, 211, 211, 0.522);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            padding: 30px 80px;
        }
        /* SECTION CONTAINER */
            .section-container{
                margin-bottom: 5%;
            }
        /* FINE SECTION CONTAINER */
        /* TITOLO SECTION */
            .titolo-section{
                font-size: 30px;
            }
        /* FINE TITOLO SECTION */
        /* UNORDERED LIST */
            ul{
                list-style-type: none;
                margin: 10px 3px;
                font-size: 20px;
            }
        /* FINE UNORDERED LIST */
        /* LIST ITEM */
            li{
                margin-top: 2%;
                margin-bottom: 3%;
            }
        /* FINE LIST ITEM */
        /* ENTITY */
            .entity{
                padding: 1px 5px;
                margin-right: 15px;

                border-radius: 50%;
            }
        /* FINE ENTITY */
        /* ENTITY CHECK */
            .check{
                color: rgb(23, 211, 13);
                border: 1px solid rgb(23, 211, 13);
            }
        /* FINE ENTITY CHECK */
        /* ENTITY CROSS */
            .cross{
                color: red;
                border: 1px solid red;
            }
        /* FINE ENTITY CROSS */
        /* LABEL */
            .label{
                padding: 7px 15px;
                margin-left: 5px;

                font-size: 15px;

                border-radius: 50px;

                color: white;
            }
        /* FINE LABEL */
        /* LABEL 1 */
            .type1{
                border: 1px solid rgba(0, 145, 255, 0.845);
                background-color: rgba(0, 145, 255, 0.845);
            }
        /* FINE LABEL 1 */
        /* LABEL 2 */
            .type2{
                border: 1px solid rgba(115, 0, 255, 0.845);
                background-color: rgba(115, 0, 255, 0.845);
            }
        /* FINE LABEL 2 */
        /* LABEL 3 */
            .type3{
                border: 1px solid rgba(55, 142, 9, 0.845);
                background-color: rgba(55, 142, 9, 0.845);
            }
        /* FINE LABEL 3 */
        /* LABEL 4 */
            .type4{
                border: 1px solid rgb(255, 174, 0);
                background-color: rgb(255, 174, 0);
            }
        /* FINE LABEL 4 */
        /* LABEL 5 */
            .type5{
                border: 1px solid rgb(255, 0, 255);
                background-color: rgb(255, 0, 255);
            }
        /* FINE LABEL 5 */
        /* LABEL 6 */
            .type6{
                border: 1px solid rgb(157, 195, 19);
                background-color: rgb(157, 195, 19);
            }
        /* FINE LABEL 6 */
    /* FINE LIST CONTAINER */
/* FINE MAIN */